In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = sns.load_dataset("penguins")

In [3]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [4]:
df.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [5]:
df.shape

(344, 7)

In [6]:
df.dropna(inplace=True)

In [7]:
df.isna().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [8]:
df.shape

(333, 7)

In [13]:
y = df["species"].copy()
X = df.drop(columns="species",axis=1)

In [14]:
y.head()

0    Adelie
1    Adelie
2    Adelie
4    Adelie
5    Adelie
Name: species, dtype: object

In [17]:
df.species.value_counts()

Adelie       146
Gentoo       119
Chinstrap     68
Name: species, dtype: int64

In [19]:
df.species.value_counts(normalize=True)*100

Adelie       43.843844
Gentoo       35.735736
Chinstrap    20.420420
Name: species, dtype: float64

In [21]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, stratify=y, random_state=42)

In [147]:
X_train.shape

(283, 6)

In [148]:
X_test.shape

(50, 6)

In [149]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

In [150]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [151]:
columnas_numericas = ["bill_length_mm","bill_depth_mm","flipper_length_mm","body_mass_g"]

In [152]:
scaler.fit(X_train[columnas_numericas])

StandardScaler()

In [153]:
X_train[columnas_numericas] = scaler.transform(X_train[columnas_numericas])

<ipython-input-153-736fa29eefce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[columnas_numericas] = scaler.transform(X_train[columnas_numericas])
C:\Users\SION\anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [154]:
X_train.head()

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
253,Biscoe,2.871447,-0.102020,2.077011,2.270111,Male
79,Torgersen,-0.350822,0.965417,-0.440463,-0.264906,Male
283,Biscoe,1.895560,-0.762814,2.148939,1.775474,Male
206,Dream,-0.277170,0.050471,-1.015885,-1.068692,Female
328,Biscoe,-0.129867,-1.626929,0.494599,0.446135,Female

In [155]:
from sklearn.preprocessing import OneHotEncoder

In [156]:
ohe_island = OneHotEncoder(sparse=False) 
ohe_sex = OneHotEncoder(sparse=False)

In [157]:
ohe_island.fit(X_train[["island"]])
ohe_sex.fit(X_train[["sex"]])

OneHotEncoder(sparse=False)

In [158]:
island = ohe_island.transform(X_train[["island"]])
encoded_island_df = pd.DataFrame(data=island,columns=ohe_island.get_feature_names())

In [159]:
sex = ohe_sex.transform(X_train[["sex"]])
encoded_sex_df = pd.DataFrame(data=sex, columns=ohe_sex.get_feature_names())

In [160]:
X_train

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
253,Biscoe,2.871447,-0.102020,2.077011,2.270111,Male
79,Torgersen,-0.350822,0.965417,-0.440463,-0.264906,Male
283,Biscoe,1.895560,-0.762814,2.148939,1.775474,Male
206,Dream,-0.277170,0.050471,-1.015885,-1.068692,Female
328,Biscoe,-0.129867,-1.626929,0.494599,0.446135,Female
...,...,...,...,...,...,...
43,Dream,0.017437,1.270398,-0.368535,0.229731,Male
230,Biscoe,-0.571778,-1.779420,0.926166,0.538880,Female
340,Biscoe,0.514587,-1.474438,0.998094,0.786198,Female
70,Torgersen,-1.934338,0.914586,-0.800102,-0.759544,Female
236,Biscoe,-0.369235,-1.881081,0.638455,-0.079417,Female

In [161]:
X_train = pd.concat([X_train.reset_index(drop=True),encoded_island_df,encoded_sex_df],axis=1)
X_train.head()

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,x0_Biscoe,x0_Dream,x0_Torgersen,x0_Female,x0_Male
0,Biscoe,2.871447,-0.102020,2.077011,2.270111,Male,1.0,0.0,0.0,0.0,1.0
1,Torgersen,-0.350822,0.965417,-0.440463,-0.264906,Male,0.0,0.0,1.0,0.0,1.0
2,Biscoe,1.895560,-0.762814,2.148939,1.775474,Male,1.0,0.0,0.0,0.0,1.0
3,Dream,-0.277170,0.050471,-1.015885,-1.068692,Female,0.0,1.0,0.0,1.0,0.0
4,Biscoe,-0.129867,-1.626929,0.494599,0.446135,Female,1.0,0.0,0.0,1.0,0.0

In [162]:
X_train = X_train.drop(columns=["sex","island"],axis=1)
X_train.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,x0_Biscoe,x0_Dream,x0_Torgersen,x0_Female,x0_Male
0,2.871447,-0.102020,2.077011,2.270111,1.0,0.0,0.0,0.0,1.0
1,-0.350822,0.965417,-0.440463,-0.264906,0.0,0.0,1.0,0.0,1.0
2,1.895560,-0.762814,2.148939,1.775474,1.0,0.0,0.0,0.0,1.0
3,-0.277170,0.050471,-1.015885,-1.068692,0.0,1.0,0.0,1.0,0.0
4,-0.129867,-1.626929,0.494599,0.446135,1.0,0.0,0.0,1.0,0.0

In [163]:
from sklearn.neighbors import KNeighborsClassifier

In [164]:
knn = KNeighborsClassifier(n_neighbors=5,weights="uniform")

In [165]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [166]:
X_test[columnas_numericas] = scaler.transform(X_test[columnas_numericas])
island = ohe_island.transform(X_test[["island"]])
encoded_island_df = pd.DataFrame(data=island, columns=ohe_island.get_feature_names())

sex = ohe_sex.transform(X_test[["sex"]])
encoded_sex_df = pd.DataFrame(data=sex, columns=ohe_sex.get_feature_names())

X_test = pd.concat([X_test.reset_index(drop=True),encoded_island_df,encoded_sex_df],axis=1)

X_test = X_test.drop(columns=["island","sex"],axis=1)

<ipython-input-166-718a38b0e93d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[columnas_numericas] = scaler.transform(X_test[columnas_numericas])
C:\Users\SION\anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [171]:
pred_train = knn.predict(X_train)
pred_test = knn.predict(X_test)

In [172]:
accuracy_score(y_test,pred_test)

1.0

In [173]:
accuracy_score(y_train, pred_train)

0.9929328621908127